
.btn_facebook
{
    display:flex!important;
    justify-content: center!important;
}

/*========================================================*/
section{
    width: 100%;
    padding: 0px;
}
main{
    width: 100%;
}
/*---------------ESTILO FORMULARIO-----------*/
.Formulario{
    border: 1px solid #C5D5DC;
    background-color: white;
    width: 30%;
    border-radius: 10px;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container{
    margin: auto;
    width: 90%;
    padding: 15px;
    border-radius: 2%;
}
h1{
    text-align: center;
    color:#5B826A;
    font-size: 30px;
    font-weight: bold;
    font-family:"Roboto",sans-serif;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
span{
    font-size: 17px;
    color:#5B826A;
}

.inpu-container{
    margin-bottom: 15px;
    box-decoration-break: 1px solid #aaa;
}
.buttom{
    border: none;
    width: 80%;
    color: white;
    text-align: center;
    font-size: 18px;
    background:#61BD0D;
    padding: 15px 20px;
    margin-left: 35px;
    border-radius: 3px;
    cursor: pointer;
}
.buttom1{
    border: none;
    width: 45%;
    color: white;
    text-align: center;
    font-size: 15px;
    background:#D9534F;
    padding: 20px 10px 20px 10px;
    margin-left: 15px;
    border-radius: 3px;
    cursor: pointer;
}
.buttom2{
    border: none;
    width: 45%;
    color: white;
    text-align: center;
    font-size: 15px;
    background:#337AB7;
    padding: 20px 10px 20px 10px;
    border-radius: 3px;
    cursor: pointer;
}
.buttom:hover{
    background: rgb(16, 35, 36);
}
h2{
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    text-align: center;
    color:#337AB7;
}
p{
    text-align: center;
    font-size: 13px;
}
.link{
    text-decoration: none;
    color: #337AB7;
    font-weight: 600;
}
.link:hover{
    color: sienna;
}
