
    <nav class="row justify-content-between align-items-center pl-4 pr-4">
        <div class="col-2">
            <img src="../img/logo-removebg-preview.png" class="img-fluid">
        </div>
        <div class="col-4 p-0">
            <div class="row m-0">

                <div class="flex-nowrap p-0 m-0 col-8">
                    <div class="row m-0">
                        <input id="search" autocomplete="off" placeholder="Buscar articulos" class="form-control col-10" type="text" name="">
                        <button class="col-2 btn btn-primary"><i class="fas fa-search"></i></button>
                        <div class="cont_search_res shadow-lg position-absolute">
                            
                        </div>
                    </div>
                </div>
                
                <input type="checkbox" id="carrito" class="d-none">                
                <label for="carrito" role="button" class="col-1 d-flex justify-content-center align-items-center m-0 p-0 mr-2">
                    <i class="fas fa-cart-arrow-down"></i>
                    <div class="cont_art_car position-absolute mt-1 shadow-lg">
                        <div class="sub_cont_art_car rounded">
                            <div id="articulos" class="row justify-content-center">
                                
                            </div>
                        </div>
                    </div>
                </label>
                {{#if foto}}
                <div class="col-1">
                    <img src="{{foto}}" class="fluid">
                    <div class="cont-cuenta-nav position-absolute">
                        <div class="row justify-content-center">
                            <div class="btn btn-primary">
                                <a href="../pag/Login.html">Ir a tu cuenta</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="col-1">
                    <i class="fas fa-user"></i>
                    <div class="cont-cuenta-nav position-absolute">
                        <div class="row justify-content-center">
                            <div class="btn btn-primary">
                                <a href="../pag/Login.html">Inicia Sesion</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </nav>
    <div class="row justify-content-center">
        <div class="sliderheader col-10">
            <center>
              <ul>
                <li><img src="../img/fondoBanner7.JPG" alt=""></li>
                <li><img src="../img/banner2_index.jpg" alt=""></li>
                <li><img src="../img/banner3_index.jpg" alt=""></li>
              </ul>
            </center>
          </div>
    </div>

    <div class="row justify-content-center mt-2">
        <div class="col-10">
            <div class="row justify-content-center p-0 pl-3 pr-3 align-items-stretch flex-nowrap"> 
                <div role="button" for="catalago" class="option d-flex align-items-center justify-content-center m-0 col-2 mr-1">
                    <a href="./Catálogo.html">CATALOGO</a>
                    <div class="sub-menu position-absolute">
                        <li><a href="./Smartphone.html">SMARTPHONE</a></li>
                        <li><a href="./laptops.html">LAPTOPS</a></li>
                        <li><a href="./computadoras.html">COMPUTADORAS</a></li>
                        <li><a href="./impresoras.html">IMPRESORAS</a></li>
                        <li><a href="./accesorios.html">ACCESORIOS</a></li>
                        <li><a href="./software&antivirus.html">SOFTWARE Y ANTIVIRUS</a></li>
                    </div>
                </div>
                <li class="option col-2 btn mr-1"><a href="./Servicios.html">SERVICIOS</a></li>
                <li class="option col-2 btn mr-1"><a href="./FormasPago.html">FORMAS DE PAGO</a></li>
                <li class="option col-2 btn mr-1"><a href="./LaEmpresa.html">LA EMPRESA</a></li>
                <li class="option col-2 btn mr-1"><a href="./Contactenos.html">CONTACTENOS</a></li>
                <li class="option col-2 btn d-flex align-items-center justify-content-center"><a href="./Login.html"><i class="fas fa-user mr-1"></i>TU CUENTA</a></li>
            </div>
        </div>
    </div>
    
    
