
{{#if isVisible}}
<div class="row justify-content-center">
    <div class="col-10">
        <div class="row align-items-stretch">
            {{#each productos}}
            <div class="col-3 mt-2 container-card">
                <div class="card" style="width: 18rem;">
                    <img src="{{img}}"  class="img-card img-fluid" >
                    <div class="card-body">
                    
                    <h5 class="card-title text-center">{{nombre_prod}}</h5>
                    
                    <p class="text-center precio">S/.{{precio}}</p>
                    <div class="row justify-content-center">
                    <button class="btn btn-primary">Agregar al carrito</button>
                    </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{/if}}